name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, community, repositories, metadata
          repositories_affiliations: owner
          repositories_forks: no
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage

          plugin_lines_skipped: >-
            vendor, node_modules, target, dist, build,
            *.pb.go, *.gen.go, *_test.go,
            *.min.js, package-lock.json, yarn.lock, 
            *.svg, *.json,
            *.c, *.h, *.cpp, *.hpp, *.cc,
            *.py, *.ipynb
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 30
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
