name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # 每天凌晨更新一次
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }} # 需要在仓库设置里添加一个 PAT
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_lines: yes 
